<h2 align="center">Title: <%= @article.title %></h2>

<div class="card col-sm-10 offset-sm-1">
  <div class="card-body">
    <h5 class="card-title description">Description</h5>
    <hr>
    <p class="card-text"><%= simple_format(@article.description) %></p>
    <div class="article-actions">
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-primary btn-sm" %>
      <%= link_to "Delete this article", article_path(@article), method: :delete,
                                          data: { confirm: "Are you sure you want to delete the article"},
                                          class: "btn btn-danger btn-sm" %>
      <%= link_to "View all articles", articles_path, class: "btn btn-success btn-sm" %>
    </div>
  </div>
</div>



